/* LOGO */
.logo {
    align-items: center;
    color: #3e6465;
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans';
    justify-content: center;
    padding: 5% 5%;
}

.container {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    width: 50%;
}


/* Options */
h2 {
    color: rgb(76, 100, 91);
}

.options {
    background-color: #ffffff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.bill {
    padding: 2% 8%;
}

.tip {
    padding: 2% 8%;
}

.people {
    padding: 2% 8%;
}

/* Results */

.results {
    background-color: #00474b;
    padding: 2% 8%;
}
