/* LOGO */
.logo {
    align-items: center;
    color: #3e6465;
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans';
    justify-content: center;
    padding: 5% 5%;
}

/* Options */
.options {
    background-color: #ffffff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.container {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Results */

.results {
    background-color: #00474b;
}
